body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    padding-bottom: 60px; /* Añadir relleno inferior para evitar superposición con el pie de página fijo */
}

header {
    background-color: #1a1a1a;
    text-align: center;
    padding: 20px;
}

header img {
    width: 150px;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
}

.camisetas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.camiseta {
    margin: 10px;
    text-align: center;
}

.camiseta img {
    width: 150px;
    height: 150px;
}

.btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; /* Establecer el pie de página en la parte inferior de la página */
    bottom: 0;
    width: 100%;
}

